<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<div th:fragment="footer">
		<div class="navbar navbar-default navbar-bottom">
				<p class="navbar-text pull-left" th:text="'System Version: ' + ${systemVersion}"></p>
		</div>
	</div>

	<div th:fragment="body-bottom-scripts">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script th:src="@{../webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	</div>
</body>
</html>