<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="userEntityForm(action)">
    <form th:action="${action}" method="post" th:object="${userProfile}">
        <div class="form-group">
            <label th:text="#{userProfile.field.firstName}"></label>
            <input type="text" class="form-control" th:field="*{firstName}"/>
        </div>
        <div class="form-group">
            <label th:text="#{userProfile.field.lastName}"></label>
            <input type="text" class="form-control" th:field="*{lastName}"/>
        </div>
        <div class="form-group">
            <label th:text="#{userProfile.field.phone}"></label>
            <input type="text" class="form-control" th:field="*{phone}"/>
        </div>
        <div class="form-group">
            <label th:text="#{userProfile.field.emailAddress}"></label>
            <input type="text" class="form-control" th:field="*{emailAddress}"/>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button class="btn btn-default" type="reset">
            <i class="glyphicon glyphicon-repeat"></i> Reset
        </button>
    </form>
</div>
</body>
</html>
