<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="admin-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Webapplication by Zaprogramuj.pl</title>

<link rel="stylesheet" type="text/css" th:href="@{../../webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../../webjars/codemirror/5.24.2/lib/codemirror.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../../webjars/codemirror/5.24.2/theme/ttcn.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../../css/adminMenu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../../css/adminLeftMenu.css}" />
</head>
</html>