<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="common/layout">
<head>
<body>
	<div layout:fragment="content">
		<div class="container main-content">
			<div class="col-md-6">
				<div th:replace="component/forgotPassword/forgotPasswordComponent :: forgotPasswordForm"></div>
			</div>
		</div>
	</div>
</body>
</html>