<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="common/layout">
<head>
<meta charset="utf-8" />
<title>User Register Form Component - Webapplication by zaprogramuj.pl</title>
</head>
<body>
	<div th:fragment="userRegisterFormComponent">\
		<div sec:authorize="isAuthenticated()">Zalogowany</div>
		<div sec:authorize="isAnonymous()">
			<div layout:fragment="content">
				<div class="container main-content">
					<div class="col-md-8 col-md-offset-2">
						<div th:replace="component/registration/registerFormComponent :: registerFormComponent"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>