<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title>Comment Component - Webapplication by zaprogramuj.pl</title>
</head>
<body>
	<div th:fragment="postCommentList">
		<div class="row">
			<div class="comments-container">
				<h1>Comment Component</h1>
				<button type="button" class="btn btn-primary addCommentModal" th:attr="data-id=${post.id}, data-parent-id=0" data-toggle="modal" data-target="#myModal">Add Comment</button>				
				<div th:include="component/post/postCommentElement :: postCommentElement" th:with="commentsTh=${post.comments}" th:remove="tag"></div>
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Modal title</h4>
					</div>
					<div class="modal-body">
						<div th:include="component/post/addCommentFormComponent :: addCommentFormComponent" th:remove="tag"></div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>