<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title>Comment Component Element - Webapplication by zaprogramuj.pl</title>
</head>
<body>
	<div th:fragment="postCommentElement">
		<ul id="comments-list" class="comments-list">
			<li th:each="comment : ${commentsTh}">				
				<ul th:classappend="${comment.parent != null} ? reply-list">
					<li>					
						<div>
							<div class="comment-avatar">
								<img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
							</div>
							<div class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name by-author">
										[[${comment.author.name}]]
									</h6>
									<span>20 minuts ago</span> 
									<i class="fa fa-reply"></i> 
									<i class="fa fa-heart"></i>
									<button th:if="${comment.parent == null}" type="button" class="btn btn-primary addCommentModal" style="float:right" th:attr="data-parent-id=${comment.id}" data-toggle="modal" data-target="#myModal">Add Comment</button>
								</div>
								<div class="comment-content">
									<p th:text="${comment.content}"></p>
								</div>
							</div>
						</div>
					</li>
				</ul>			
				<div th:include="component/post/postCommentElement :: postCommentElement" th:with="commentsTh=${comment.subComments}" th:remove="tag"></div>
			</li>
		</ul>
	</div>
</body>
</html>