<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar" ></div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<h2 class="section-headline"><span>User Account</span></h2>
			</div>
			<div class="col-xs-4">
				
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-9 col-xs-offset-3">
				<ul class="nav nav-tabs">
					<li><span>Create new account</span></li>
					<li><span>Log in</span></li>
					<li><span>Forget password</span></li>
				</ul>
			</div>
		</div>
	</div>	
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>