<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="common/layout">
<head>
<title>Post - Webapplication by Zaprogramuj.pl</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{../../css/comment.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container main-content">
			<div th:include="component/post/postElement :: postElement" th:remove="tag"></div>
			<div th:include="component/post/postCommentList :: postCommentList" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>